.main
  .main__Header
    .main__Header--group.clearfix
      .main__Header--group_name
        = @group.name
      .main__Header--group_edit
        = link_to edit_group_path(@group.id) do
          Edit
    .main__Header--member
      MEMBER
      - @group.users.each do |user|
        = user.name
  .main__Body
    = render @messages
  .main__Footer
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'main__Footer--placeholder', placeholder: 'type a message'
      .main__Footer--message
        = f.label :image, class: 'main__Footer--label' do
          = fa_icon 'picture-o', class: 'main__Footer--input'
          = f.file_field :image, class: ' hidden'
      = f.submit 'Send', class: 'main__Footer--submit'

