.main
  .main__Header
    .main__Header--group.clearfix
      .main__Header--group_name
        = @group.name
      .main__Header--group_edit
        = link_to edit_group_path(@group.id) do
          Edit
    .main__Header--member MEMBER
  .main__Body
    .main__Body--main.clearfix
      .main__Body--name ryosukemaehira
      .main__Body--date 2016/10/02 06:27:07
      .main__Body--text なるほど
  .main__Footer
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'main__Footer--placeholder', placeholder: 'type a message'
      .main__Footer--message
        = f.label :image, class: 'main__Footer--label' do
          = fa_icon 'picture-o', class: 'main__Footer--input'
          = f.file_field :image, class: ' hidden'
      = f.submit 'Send', class: 'main__Footer--submit'

