=render partial:"header"

.side
  .side__Header
    %p.side__Header--name
      = current_user.name
    .side__Header--setting
      = link_to edit_user_path(current_user), class: "icon" do
        %i.fa.fa-cog
    .side__Header--edit
      = link_to new_group_path, class: "icon" do
        %i.fa.fa-pencil-square-o
  .side__Main
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .side__Main--group
          = group.name
        .side__Main--message
          Good bye world

=render partial:"main"
